<template>
  <li class="action">
    <button v-if="btn" class="action__link" @click="$emit('open')">
      <slot />
      <div class="action-holder">
        <span class="action__name">{{ action }}</span>
        <div class="underline"></div>
      </div>
    </button>
    <NuxtLink v-else :to="to" class="action__link">
      <slot />
      <div class="action-holder">
        <span class="action__name">{{ action }}</span>
        <div class="underline"></div>
      </div>
    </NuxtLink>
  </li>
</template>

<script setup lang="ts">
defineProps<{
  action: string;
  to?: string;
  btn?: boolean;
}>();
</script>

<style lang="scss" scoped>
.underline {
  height: 1.5px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease-out;
  transform: translateX(101%);
}

.action {
  &-holder {
    overflow-x: hidden;
    margin-bottom: -4px;

    &:hover .underline {
      transform: translateX(0%);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__name {
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 44em) {
  .action__name {
    display: none;
  }
}
</style>
