<template>
  <header class="header">
    <HeaderNav />
  </header>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
@import "~/assets/base/variables";

.header {
  background-color: $primary;
  color: $secondary;
  padding: 3rem 0;
}

.mt-4 {
  margin-top: 1rem;
}

@media (max-width: 44em) {
  .header {
    padding: 1.6rem 0;

    &--active {
      height: 100vh;
    }
  }
}
</style>
