<template>
  <nav class="header__nav container">
    <NuxtLink class="header__logo" to="/">
      <IconsNuxt />
      <h3 class="header__logo-title">ImageStock</h3>
    </NuxtLink>

    <ul class="header__actions">
      <!-- <HeaderAction @click="$emit('open')" action="Поиск" to="/">
        <IconsSearch />
      </HeaderAction> -->

      <HeaderAction btn action="Поиск" @open="dialog = true">
        <IconsSearch />
        <Teleport to="body">
          <v-dialog v-model="dialog" width="auto">
            <HeaderSearch @close="dialog = false" />
          </v-dialog>
        </Teleport>
      </HeaderAction>

      <HeaderAction action="Избранное" to="/favorites">
        <IconsFavorite />
      </HeaderAction>

      <HeaderAction action="История поиска" to="/history">
        <IconsHistory />
      </HeaderAction>
    </ul>
  </nav>
</template>

<script setup lang="ts">
const dialog = ref(false);
</script>

<style scoped lang="scss">
@import "~/assets/base/variables";

.header {
  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &-title {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  &__actions {
    display: flex;
    gap: 2.2rem;
  }
}

@media (max-width: 44em) {
  .header {
    &__logo {
      :first-child {
        height: 2em;
      }

      &-title {
        display: none;
      }
    }

    &__actions {
      * {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }
}
</style>
