<template>
  <div class="header__search header__search--active">
    <form @submit.prevent="onSubmit">
      <input
        ref="searchbar"
        v-model.trim="searchTerm"
        type="text"
        placeholder="Поиск"
        class="header__searchbar"
      />
    </form>
    <HeaderTopicList @selected="checkAndClose" />
  </div>
</template>

<script setup lang="ts">
import { useImageStore } from "~/stores/ImageStore";
import { useSearchHistoryStore } from "~/stores/SearchHistoryStore";

const emit = defineEmits(["close"]);

const { resetAll, setImages } = useImageStore();
const route = useRoute();
const router = useRouter();

const searchbar = ref<HTMLInputElement | null>(null);
const searchTerm = ref("");

async function onSubmit() {
  const term = searchTerm.value;

  resetAll();
  setImages({ term });
  checkAndClose();
  useSearchHistoryStore().addSearchTermToHistory({
    term: term,
    date: Date.now(),
  });
}

function checkAndClose() {
  if (route.fullPath !== "/") {
    router.replace("/");
  }
  emit("close");
}

onMounted(() => searchbar.value?.focus());
</script>

<style scoped lang="scss">
@import "~/assets/base/variables";

.header {
  &__search {
    padding: 3rem 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__searchbar {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.5px;

    &::placeholder {
      color: #fff;
    }

    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #000, #808080, #000) 1;
  }
}

@media (max-width: 44em) {
  .header__searchbar {
    font-size: 2.8rem;
  }
}
</style>
