<template>
  <div class="topic-list">
    <button
      @click="handleClick(topic.id)"
      v-for="topic in topics"
      class="topic"
    >
      {{ topic.title }}
    </button>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useTopicStore } from "~/stores/TopicStore";
import { useImageStore } from "~/stores/ImageStore";

const emit = defineEmits(["selected"]);

const { topics } = storeToRefs(useTopicStore());
const { resetAll, setImages } = useImageStore();

async function handleClick(topicId: string) {
  resetAll();
  setImages({ topic: topicId });
  emit("selected");
}
</script>

<style lang="scss" scoped>
.topic-list {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  font-size: 1.1rem;
  overflow-x: hidden;

  background-image: linear-gradient(to right, #fff 60%, #000);
  background-clip: text;
  -webkit-background-clip: text;
}

.topic {
  color: transparent;
  white-space: nowrap;

  &:hover {
    text-shadow: 0 0 5px #fff;
  }
}

@media (max-width: 44em) {
  .topic-list {
    margin-top: 2rem;
    overflow-x: unset;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3rem;
    background-image: linear-gradient(#fff, #fff);
  }
}
</style>
