<template>
  <div class="grid-view">
    <div
      ref="renderedImageContainer"
      class="images-wrapper"
      :class="{ 'images-wrapper--list': listViewSelected }"
    >
      <v-progress-circular
        class="spinner"
        color="black"
        indeterminate
        :size="70"
        :width="6"
        v-if="isLoading"
      />
      <ImageViewPhoto
        v-for="img in images"
        :key="img.id"
        :src="img.urls.regular"
        :alt="img.description"
        :image="img"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useSettingsStore } from "~/stores/SettingsStore";

defineProps({
  images: {
    type: Array<Image>,
    required: true,
  },
  isLoading: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(["load"]);

const renderedImageContainer = ref<HTMLDivElement | null>(null);
const listViewSelected = computed(
  () => useSettingsStore().selectedView === "list"
);

const handleScroll = async () => {
  let el = renderedImageContainer.value;

  if (process.client && el) {
    if (el.getBoundingClientRect().bottom < window.innerHeight + 1) {
      try {
        emit("load");
      } catch (err) {
        console.log(err); 
      } finally {
      }
    }
  }
};

onMounted(() => {
  if (process.client) {
    window.addEventListener("scroll", handleScroll);
  }
});

onUnmounted(() => {
  if (process.client) {
    window.removeEventListener("scroll", handleScroll);
  }
});
</script>

<style scoped lang="scss">
.spinner {
  position: fixed;
  bottom: 10%;
  right: 3%;
}

.images-wrapper {
  column-gap: 1rem;
  overflow-y: hidden;
  column-count: 3;

  &--list {
    column-count: 1 !important;
  }
}

.grid-view {
  position: relative;
}

.btn-load {
  position: absolute;
  bottom: 5rem;
  left: 50%;
}

@media (max-width: 59em) {
  .images-wrapper {
    column-count: 2;
  }
}

@media (max-width: 34em) {
  .images-wrapper {
    column-count: 1;
  }
}
</style>
