<template>
  <article
    @mouseenter="active = true"
    @mouseleave="active = false"
    class="grid__image"
    :class="{ 'grid__image--fs': fullscreenMode }"
  >
    <img class="grid__image-image" v-bind="$attrs" />
    <div v-show="active" class="grid__image-details">
      <header class="author">
        <img class="author__img" :src="image.user.profile_image.small" alt="" />
        <span class="author__name">{{ fullName }}</span>
        <span class="author__username">@{{ image.user.username }}</span>
      </header>
      <div class="grid__image-actions">
        <button @click="addToFavorite" class="action-btn">
          <IconsFavorite
            class="action-icon"
            :class="{ 'action-icon--fav': image.favorite }"
          />
        </button>

        <button @click="openFsMode" class="action-btn">
          <IconsFullscreen class="action-icon" />
        </button>

        <a :href="`${image.links.download}&force=true`" class="action-btn">
          <IconsDownload class="action-icon" />
        </a>
      </div>
    </div>
  </article>
</template>

<script setup lang="ts">
const { image } = defineProps<{
  image: Image;
}>();

const fullscreenMode = ref(false);

function openFsMode() {
  fullscreenMode.value = true;

  document.body.addEventListener("click", closeFsMode, true);
}

function closeFsMode() {
  fullscreenMode.value = false;
}

const active = ref(false);

const fullName = computed(
  () => `${image.user.first_name} ${image.user.last_name || ""}`
);

function addToFavorite() {
  image.favorite = !image.favorite;

  const favorites = JSON.parse(localStorage.getItem("favorites") || "[]");

  if (image.favorite) {
    favorites.push(image.id);
  } else {
    favorites.splice(favorites.indexOf(image.id), 1);
  }
  localStorage.setItem("favorites", JSON.stringify(favorites));
}

onBeforeUnmount(() => {
  document.body.removeEventListener("click", closeFsMode);
});
</script>

<style lang="scss" scoped>
@import "~/assets/base/variables";

.grid {
  &__image {
    position: relative;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #b4b4b4;
    overflow: hidden;
    color: $secondary;
    transition: all 0.3s;

    &:hover {
      .grid__image-image {
        filter: blur(3px) brightness(70%);
      }
    }

    &-details {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-image {
      width: 100%;
      height: auto;
      object-fit: fill;
      margin-bottom: -0.8rem;
      transition: all 0.3s;
    }

    &-actions {
      display: flex;
      margin: 0 auto;
      gap: 0.8rem;
    }

    &--fs {
      transform: scale(1.6);
      z-index: 999;
      .grid__image-image {
        filter: none !important;
      }

      .author,
      .grid__image-actions {
        display: none;
      }
    }
  }
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  &__img {
    height: 4rem !important;
    width: 4rem !important;
    border: 1px solid #fff;
    border-radius: 7px;
  }

  &__name {
    font-family: Inter, sans-serif;
    font-size: 2rem;
    letter-spacing: -0.5px;
    white-space: nowrap;
  }

  &__username {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: -1.5rem;
  }
}

.action {
  &-btn {
    transition: all 0.3s;
    &:hover ~ .action-btn > .action-icon {
      color: gray;
      transform: scale(0.8);
    }

    &:hover {
      transform: scale(1.4);
    }
  }

  &-icon--fav {
    color: red;
  }
}

@media (max-width: 44em) {
  .action-btn > svg {
    width: 1.8rem;
  }
  .author {
    margin-bottom: 0.5rem;

    &__name {
      font-size: 1.6rem;
    }

    &__username {
      font-size: 0.9rem;
    }
  }
}
</style>
