<script setup lang="ts">
import { useTopicStore } from "~/stores/TopicStore";
import { useSearchHistoryStore } from "~/stores/SearchHistoryStore";
import { useSettingsStore } from "./stores/SettingsStore";

await useTopicStore().setTopics();

onMounted(() => {
  useSettingsStore().setViewMode();
  useSearchHistoryStore().setSearchHistory();
});
</script>

<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>
