<template>
  <div class="view-selection">
    <button
      @click="changeViewMode('list')"
      class="view-selection__btn"
      :class="{ 'view-selection__btn--active': selectedView === 'list' }"
    >
      <IconsListView class="icon-list" />
    </button>

    <button
      @click="changeViewMode('grid')"
      class="view-selection__btn"
      :class="{ 'view-selection__btn--active': selectedView === 'grid' }"
    >
      <IconsGridView class="icon-grid" />
    </button>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useSettingsStore } from "~/stores/SettingsStore";

const settingsStore = useSettingsStore();

const { selectedView } = storeToRefs(settingsStore);
const { changeViewMode } = settingsStore;
</script>

<style lang="scss" scoped>
@import "~/assets/base/variables";

.view-selection {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__btn {
    color: $gray;
    transition: all 0.1s ease-out;

    &--active {
      color: #000;
    }
  }
}
</style>
