<template>
  <div>
    <Header />
    <!-- <HeaderSearch
      @search="activeHeader = false"
      class="mt-4"
      v-if="isSearchRoute"
    /> -->

    <main class="container">
      <slot />
    </main>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();

const isSearchRoute = computed(() => route.fullPath === "/");

const activeHeader = ref(false);
</script>

<style scoped lang="scss"></style>
