<template>
  <h3 class="page-title">Избранное</h3>
  <ViewSelection class="py" />
  <ImageViewGrid v-if="images.length" :images="images" :is-loading="loading" />
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useImageStore } from "~/stores/ImageStore";

const imageStore = useImageStore();

const { setFavoriteImages, resetAll } = imageStore;
const { images } = storeToRefs(imageStore);

const loading = ref(false);

onMounted(async () => {
  resetAll();
  loading.value = true;
  await setFavoriteImages();
  loading.value = false;
});
</script>

<style scoped lang="scss">
.page-title {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
  padding: 3rem 0 0;
}

.py {
  padding: 2.5rem 0;
}

@media (max-width: 44em) {
  .py {
    padding: 1.6rem 0;
  }
}
</style>
