<template>
  <h3 class="page-title">История поиска</h3>

  <v-table>
    <thead>
      <tr>
        <th class="text-left">Поисковый запрос</th>
        <th class="text-left">Дата</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="history in searchHistory" :key="history.id">
        <td>{{ history.term }}</td>
        <td>{{ formatDate(history.date) }}</td>
      </tr>
    </tbody>
  </v-table>
</template>

<script setup lang="ts">
import { useSearchHistoryStore } from "~/stores/SearchHistoryStore";

const searchHistory = computed(() => useSearchHistoryStore().searchHistory);

function formatDate(date: number) {
  return new Date(date);
}
</script>

<style scoped lang="scss">
.page-title {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
  padding: 3rem 0 0;
}
</style>
