<template>
  <ViewSelection class="py" />
  <ImageViewGrid @load="loadImages" :images="images" :is-loading="loading" />
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useImageStore } from "~/stores/ImageStore";
const loading = ref(false);

const imageStore = useImageStore();
const { images } = storeToRefs(imageStore);

loading.value = true;
imageStore.setImages({}).then(() => (loading.value = false));

async function loadImages() {
  loading.value = true;
  await imageStore.loadImages();
  loading.value = false;
}
</script>

<style scoped lang="scss">
.py {
  padding: 2.5rem 0;
}

@media (max-width: 44em) {
  .py {
    padding: 1.6rem 0;
  }
}
</style>
