// RESET
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: $secondary;
  text-decoration: none;
}

input {
  outline: none;
}
