.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

@media (max-width: 75em) {
  .container {
    max-width: 100rem;
  }
}

@media (max-width: 59em) {
  .container {
    max-width: 90rem;
  }
}
