//////////////////////////
/// COLORS
$primary: #000;
$secondary: #fff;

$gray: #aaaaaa;

//////////////////////////
/// ADAPTIVE LAYOUT

/* BELOW 1344px */
$sm-desktop-w: 84em;

/* BELOW 1200px (Landscape Tablets) */
$ls-tablet-w: 75em;

/* BELOW 944px */
$tablet-w: 59em;

/* BELOW 704px */
$sm-tablet-w: 44em;

/* BELOW 544px */
$phone-w: 34em;
